In [16]:
import pandas as pd
import numpy as np


file_path = r"C:\Users\Welcome\Downloads\Python_Assignment.xlsx"

#### table which contains all the unique students enrolled with the tuition provider in rows, and the % Marks he/she has obtained in each subject in columns. In case the student is not enrolled in a particular subject, the entry for that student should show "NA" for the particular subject

In [34]:
maths_data = pd.read_excel(file_path, sheet_name = 'Maths')
maths_data['% Maths'] = (maths_data['Theory Marks'] + maths_data['Numerical Marks'] + maths_data['Practical Marks'])/3 
maths_data = maths_data[['Roll No', 'Class', '% Maths']]

physics_data = pd.read_excel(file_path, sheet_name = 'Physics')
physics_data['% Physics'] = (physics_data['Theory Marks'] + physics_data['Numerical Marks'] + physics_data['Practical Marks'])/3 
physics_data = physics_data[['Roll No', 'Class', '% Physics']]

hindi_data = pd.read_excel(file_path, sheet_name = 'Hindi')
hindi_data['% Hindi'] = hindi_data['Marks']
hindi_data = hindi_data[['Roll No', 'Class', '% Hindi']]

economics_data = pd.read_excel(file_path, sheet_name = 'Economics')
economics_data['% Economics'] = (economics_data['Theory Marks'] + economics_data['Numerical Marks'])/2 
economics_data = economics_data[['Roll No', 'Class', '% Economics']]

music_data = pd.read_excel(file_path, sheet_name = 'Music')
music_data['% Music'] = (music_data['Theory Marks'] + music_data['Practical Marks'])/2 
music_data = music_data[['Roll No', 'Class', '% Music']]

In [35]:
data = pd.merge(maths_data, physics_data, on = ['Roll No', 'Class'], how = 'outer')
data = pd.merge(data, hindi_data, on = ['Roll No', 'Class'], how = 'outer')
data = pd.merge(data, economics_data, on = ['Roll No', 'Class'], how = 'outer')
data = pd.merge(data, music_data, on = ['Roll No', 'Class'], how = 'outer')

In [36]:
data.head()

   Roll No  Class    % Maths  % Physics  % Hindi  % Economics  % Music
0       50      6  49.000000  77.666667     86.0         75.0     67.5
1       37      7  51.000000  66.666667     87.0         72.5     62.5
2        1      8  56.666667  65.333333      NaN         78.5     59.0
3       47      6  64.333333  57.000000     92.0          NaN      NaN
4       30      8  80.333333  59.000000     99.0         52.5     60.0

### Question 2

###### How many students in total are enrolled with the tuition provider?

In [21]:
data = data.sort_values(by=['Roll No', 'Class'], ascending=[True, False])

In [23]:
no_of_students = len(data)
print(no_of_students)

319

#### How many students have taken all the five subjects?

In [41]:
enrolled_all_subjects = len(data.dropna())
print("{ } students have taken all the five subjects ".format(enrolled_all_subjects))

KeyError: ' '

#### Which class has the most number of students?

In [27]:
data_copy = data
classwise_students_count_data = data_copy.dropna().groupby('Class')['Roll No'].count().reset_index()
classwise_students_count_data.columns = ['CLass', 'Students Count']
max_num = classwise_students_count_data['Students Count'].max()
classwise_students_max = classwise_students_count_data[classwise_students_count_data['Students Count'] == max_num]
print(classwise_students_max)

   CLass  Students Count
4     10              10

#### Which class has the highest average percentage of marks across all subjects?

In [30]:
data["Total Subjects Enrolled"] = [5 - data.iloc[i,:].isnull().sum() for i in range(len(data))]
copy_data = data.copy()
copy_data = copy_data.fillna(0)
copy_data['Avg Subjects'] = (copy_data['% Maths']+copy_data['% Physics'] + copy_data['% Hindi']+copy_data['% Economics'])/copy_data['Total Subjects Enrolled']
copy_data['Avg Subjects'] = copy_data['Avg Subjects'].apply(int)
max_avg_sub_data = copy_data.groupby('Class')['Avg Subjects'].mean().reset_index()
max_avg_sub_data = max_avg_sub_data.sort_values(by = 'Avg Subjects', ascending = False).head(1)

In [39]:
print("class has the highest average percentage of marks across all subjects : ")
print(max_avg_sub_data)

class has the highest average percentage of marks across all subjects :
   Class  Avg Subjects
0      5     71.842105

###### Which subject has the highest average percentage of marks across all classes?

In [32]:
subject_percentage = {col:copy_data[copy_data[col]!=0][col].mean() for col in ['% Maths', '% Physics', '% Hindi', '% Economics']}
highest_subject_percentage = {v:k for k, v in subject_percentage.items()}[max(subject_percentage.values())]

In [40]:
print("subject has the highest average percentage of marks across all classes: " +  highest_subject_percentage)

subject has the highest average percentage of marks across all classes: % Hindi